/* BASICS */

* {
    box-sizing: border-box;
}

html {
    font-family: lato-regular;
    line-height: 1.25;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f3eeee;
}

h1,
h2,
h3,
h4 {
    font-family: 'Fredoka One', cursive;
}

input[type="text"] {
    border-radius: 0.7em;
    width: 18.75em;
    height: 3em;
    border: #000;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

input[type="text"]:focus {
    outline: none;
    border-color: #000;
}

button {
    border-radius: 1em;
    min-width: 60px;
    min-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
    border: none;
}

button:focus {
    outline: none;
    border: 2px solid black;

}

span {
    height: 0;
}

.fa-times-circle {
    font-size: 2em;
}

/* flex helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.space-around {
    justify-content: space-evenly;
}

.flex.space-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}


/* GENERAL */

.container {
    padding-top: 4.375em;
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: #e3e3e3;
}

/* Nav */

.menu-btn {
    display: none;
}

.nav-container {
    background-color: #ff7f00;
    height: 68px;
}

.nav-content {
    height: 100%;
    width: 1020px;
}

.nav-container .logo {
    font-family: euro;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
}

.nav-list {
    height: 100%;
    z-index: 2;
}

.nav-list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s;
}

.nav-list a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: color 0.5s;
    font-weight: 600;
    position: relative;
}

.nav-list a:hover {
    color: black;
}

.nav-list a::before {
    content: '';
    height: 5px;
    display: block;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

.nav-list a:hover::before {
    transform: scale(1, 1);
}

.nav-list li:hover {
    background-color: #eb7703;
}


.nav-list li:active {
    box-shadow: inset 1px -4px 8px 0px #ffffff;
    background-color: #eb7703;
}

.nav-list>* {
    width: 8.25rem;
}

/* MEME CONTAINER */

.meme-container {
    display: none;
    height: 29.1875rem;
    padding-top: 3rem;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: #e3e3e3;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    flex-direction: row;
    justify-content: space-between;
}

.meme-toggle {
    transform: scale(1, 1)
}

.meme-toggle .canvas-container {
    opacity: 1;
}

.meme-toggle .control-box {
    opacity: 1;
}

.canvas-container {
    width: 30vw;
    height: 45vh;
    opacity: 0;
    transition: opacity 250ms ease-in-out 250ms;
}


.control-box {
    width: 54%;
    opacity: 0;
    transition: opacity 250ms ease-in-out 250ms;
}

/* CONTROLS GRID */

.control-box ul {
    display: grid;
    gap: 1.75em;
    grid-template-columns: repeat(8, 2.5em);
    grid-template-rows: repeat(6, 2.5em);
    justify-content: center;
    align-items: center;
}

li.meme-text {
    grid-column: 2;
}

li.change-selected {
    grid-row: 2;
    grid-column: 3;
}

li.add-text {
    grid-row: 2;
    grid-column: 4;
}

.delete {
    grid-row: 2;
    grid-column: 5;
}

.row-3 {
    grid-row: 3;
}

.font-up {
    grid-column: 2;
}

.font-down {
    grid-column: 3;
}

.align-left {
    grid-column: 4;
}

.align-center {
    grid-column: 5;
}

.align-right {
    grid-column: 6;
}

.font-style {
    grid-row: 4;
    grid-column: 2/5;
}

.color {
    grid-row: 4;
    grid-column: 6;
}

.color+li {
    grid-row: 4;
    grid-column: 6;
    visibility: hidden;
    width: 0px;
    padding: 0;
    margin: 0;
}

.save {
    grid-row: 5;
    grid-column: 2;
}

.delete-meme {
    grid-row: 5;
    grid-column: 4;
}

.form-inputs {
    grid-row: 6;
}

.form-inputs form {
    display: grid;
    gap: 1.75em;
    grid-template-columns: repeat(8, 2.7em);
    grid-template-rows: 2.5em;
    margin-left: -26px;
}

.form-inputs form .download {
    grid-column: 2/4;
}

.form-inputs form .publish {
    grid-row: 1;
    grid-column: 4/6;
}

.form-inputs form .share-container {
    grid-column: 6/8;
}

/* ========== */

.font-style select {
    border-radius: 0.7em;
    width: 10em;
    height: 3em;
    border: #000;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

ul.controls {
    width: 100%;
    margin-top: 6px;
}

.controls li {
    list-style-type: none;
}

.controls button {
    display: inline-block;
}

.controls button img {
    width: 2.5rem;
}

/* SEARCH */

.search {
    background-color: #fff;
    width: 100%;
    height: 100%;
    background-color: #f3eeee;
}

.search-container {
    height: 100%;
    max-width: 1020px;
    margin: 0 auto;
    box-sizing: content-box;
    width: 100%;
    align-self: center;
    display: flex;
    grid-template-columns: repeat(auto-fill, 10.5em);
}

.search-container input {
    width: 18.75em;
    height: 3em;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid rgb(163, 163, 163);
    grid-column: 1/3;
    background-color: #f3eeee;
}

.search-container input:focus {
    outline: none;
    border-bottom: 4px solid black;
}

.search-container ul {
    display: grid;
    padding: 0;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 7.4375rem);
    list-style: none;
    grid-column: 3;
    margin-right: 1.25rem;
    line-height: 30px;
}

.search-container ul li {
    margin-left: 20px;
}

.filter-text {
    text-decoration: none;
    color: black;
    font-family: Montserrat;
    cursor: pointer;
}


/* GALLERY */

.gallery-title {
    font-family: 'Fredoka One', cursive;
    color: #827c7c;
    text-align: center;
    margin-top: 0;
    padding-bottom: 20px;
}

.gallery {
    display: grid;
    gap: 1.75em .8125em;
    grid-template-columns: repeat(auto-fill, 14.375em);
    grid-auto-rows: 14.375em;
    justify-content: center;
    padding-bottom: 30px;
}


.gallery-image {
    width: 100%;
}

.image-border {
    cursor: pointer;
    transition: opacity 0.4s;
}

.image-border:hover {
    opacity: 0.5;
}


/* FOOTER */

.main-footer {
    height: 10.375rem;
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #ff7f00;
    width: 100%;
}

.centralize-footer {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    font-family: euro;
    font-size: 2.5rem;
    margin-bottom: 0.4em;
    color: #fff;
    font-family: 'Fredoka One', cursive;
}

.info {
    font-size: 0.8125rem;
    color: #636161;
    text-align: center;
}

.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 14.375rem;
    justify-content: space-between;
}

.color-btn {
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: white;
    width: 60px;
    height: 50px;
    display: block;
    border-radius: 1em;
}

.color-btn img {
    width: 96%;
    padding-left: 4px;
}

.submit-btn {
    width: 7.5rem;
    height: 3.75rem;
    border-radius: 12px;
    background-color: #ff7f00;
    color: white;
}

.submit-btn:focus {
    background-color: #b95e03;
}

.submit-btn:hover {
    background-color: #eb7703;
}

.submit-btn:active {
    background-color: #eb7703;
}

.submit-btn a {
    text-decoration: none;
    color: white;
}

/* MEMES PAGE */

.meme-page {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #e3e3e3;
    padding-top: 1.25rem;
    padding-bottom: 2.25rem;
    min-height: 452px;
}

.meme-page-gallery {
    display: grid;
    padding-top: 20px;
    gap: 1.75em .8125em;
    grid-template-columns: repeat(auto-fill, 14.375em);
    grid-auto-rows: 14.375em;
    justify-content: center;
    padding-bottom: 30px;
    margin: 0 100px 0 100px;
}

.meme-page h2 {
    text-align: center;
    color: #827c7c;
}



.saved-meme {
    background-color: #fefefe;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    justify-content: space-evenly;
}

.saved-meme form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.show-meme {
    width: 50%;
}

/* ============= */

@media (max-width: 975px) {
    .meme-container {
        flex-direction: column;
        height: 853px;
        max-width: 700px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
    }

    .canvas-container {
        width: unset;
        height: unset;
    }

    .nav-container .logo {
        margin-left: 1.5625rem;
    }

    .nav-content {
        max-width: 700px;
    }

    .nav-list li {
        width: 6.00rem;
    }

    .form-inputs {
        grid-row: 5;
        margin-left: unset;
    }

    .form-inputs form {
        margin-left: 16px;
        margin-top: 142px;
    }

    .form-inputs form .download {
        grid-column: 1/1;
        margin-left: 10px;
    }

    .form-inputs form .publish {
        grid-row: 1;
        grid-column: 3/4;
        margin-left: 10px;
    }

    .form-inputs form .share-container {
        grid-column: 5/8;
        margin-left: 10px;
    }

}

@media (max-width: 690px) {
    .meme-page-gallery {
        padding: 0;
        gap: 0.75em 0.8125em;
        grid-template-columns: repeat(auto-fill, 10.375em);
        grid-auto-rows: 10.375em;
        margin: 0;
    }

    @media (max-width: 592px) {
        .search-container {
            flex-direction: column;
        }
    }

    @media (max-width: 555px) {
        .nav-container {
            height: unset;
        }

        .nav-list {
            position: fixed;
            right: 0;
            top: 0;
            flex-direction: column;
            height: 100vh;
            background-color: rgba(255, 127, 0, 0.9);
            width: 200px;
            transform: translateX(100%);
            box-shadow: none;
            transition: transform 0.8s, box-shadow 0.8s;
            justify-content: flex-start;
            padding: 0;
        }

        .nav-list.flex.space-between {
            justify-content: flex-start;
        }

        .nav-list li {
            height: 34px;
            border: none;
            margin: 10px
        }

        .nav-list li:hover {
            box-shadow: none;
            background-color: unset;
        }

        body.menu-open .nav-list {
            transform: translateX(0);
            box-shadow: -4px 0px 15px 0px #dcdcdc;
        }

        .main-screen {
            visibility: hidden;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgb(0 0 0 / 30%);
            cursor: pointer;
            transition: opacity 0.8s;
        }

        body.menu-open .main-screen {
            opacity: 1;
            visibility: visible;
            z-index: 1;
        }

        .menu-btn {
            display: block;
            height: 50px;
            width: 50px;
            font-family: brands;
            background-color: transparent;
            color: white;
        }

        .saved-meme {
            flex-direction: column;
            align-items: center;
        }

        .meme-container {
            justify-content: space-evenly;
        }
    }

    @media (max-width: 490px) {
        .gallery {
            gap: 0.75em 0.8125em;
            grid-template-columns: repeat(auto-fill, 10.375em);
            grid-auto-rows: 10.375em;
        }

        form {
            grid-template-columns: repeat(6, 2.5em);
        }

        .form-inputs form {
            margin-left: 62px;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 2.5em;
        }

        .form-inputs form .download {
            grid-column: 1/3;
            margin-left: 10px;
        }

        .form-inputs form .publish {
            grid-row: 1;
            grid-column: 5/8;
            margin-left: 10px;
        }

        .form-inputs form .share-container {
            grid-column: 9/12;
            margin-left: 10px;
        }

        .submit-btn {
            width: 6.5rem;
            height: 1.75rem;
        }

        .meme-container {
            height: 815px;
            padding-top: 6px;
        }

        .search ul {
            display: none;
        }
    }